:root {
  --primary-color: rgb(36, 176, 61);
  --secondary-color: rgb(26, 167, 82);
  --text-color: #f4f4f4;
  --background-color: #333;
  --input-width: 360px;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

button {
  height: 42px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background-color: rgb(26, 167, 82);
}

.secondary {
  color: rgb(26, 167, 82);
  background-color: #fff;
}

h1,
h2,
h3,
p,
li,
a,
input {
  color: #fff;
}

p {
  margin-top: 6px;
  font-size: 1.8rem;
}

a {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
}

main {
  padding: 60px 0;
}

section {
  margin-top: 60px;
}

input {
  width: var(--input-width);
  height: 46px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid rgb(255 255 255 / 5%);
  background-color: rgb(255 255 255 / 5%);
  font-size: 1.7rem;
}

ul {
  margin-top: 20px;
  width: var(--input-width);
  border-radius: 4px;
  list-style: none;
}

li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

li {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid rgb(255 255 255 / 5%);
  user-select: none;
}

:not(li:last-child) {
  border-bottom: none;
}

/* Search component */

/* form,
input[type="text"],
button,
span,
h1 {
  outline: auto;
} */

.search-title {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

.form-input {
  height: 40px;
}

.error-message {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  top: 0;
  right: 10px;
}

/* User component */

/* section,
ul,
li,
img,
h2,
div,
p {
  outline: auto;
} */

.user-avatar {
  display: grid;
  place-content: center;
}

.user-avatar img {
  border-radius: 50%;
  width: 200px;
}

.section-user-component {
  display: grid;
  justify-items: center;
  justify-content: stretch;
}

.user-container {
  display: grid;
  gap: 20px;
}

.username {
  text-align: center;
  font-size: 2.1rem;
}

.repos-followers-following {
  display: flex;
  gap: 50px;
  text-align: center;
}

.go-to-github-button-container {
  display: grid;
  place-content: center;
}

.return-button,
.go-to-github-button {
  height: 42px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background-color: rgb(26, 167, 82);
}

.repos-list-container {
  margin-top: 20px;
}

.repos-list-container h2 {
  margin-bottom: 20px;
}

.repos-list {
  display: grid;
  gap: 20px;
}

.individual-repo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
}

.individual-repo div,
.individual-repo p {
  padding: 0 10px;
}

.repo-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(77, 77, 77);
}

.repo-description,
.repo-date {
  color: rgb(128, 128, 128);
}
